/* Signup.css */
.signup-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #5e5e5e;
}

.signup-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.signup-container label {
    display: block;
    margin-bottom: 8px;
}

.signup-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.signup-container button {
    padding: 10px 15px;
    background-color: #ca3507;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.signup-container button:hover {
    background-color: #f1640cd4;
}

.signup-container p {
    color: red;
    font-size: 14px;
}